.sale-container{
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    display: block;
}
.map{
    width: 70%;
    height: 70%;
    padding: 10px;
    margin: 10px;
}

button{
    background-color:#0460ca ;
    color: white;
}
::ng-deep .snackSuccess {
    background-color: #4bdf06;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-left: 25%;
    cursor: pointer;
}