.sale-container{
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    display: block;
}
.map{
    width: 70%;
    height: 70%;
    padding: 10px;
    margin: 10px;
}

button{
    background-color:#0460ca ;
    color: white;
}
::ng-deep .snackSuccess {
    background-color: #4bdf06;
}