<!-- <p>sidenav works!</p> -->
<img src=""  class="avatar mat-elevation-z8">
<h4 class="name">{{user?.name}}</h4>
<p class="designation" >Bienvenido(a)</p>

<mat-divider></mat-divider>

    <a mat-button class="menu-button" routerLink="/home" >
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </a>
    
    <a mat-button class="menu-button" *ngIf="userLogued" routerLink="/seller/showSaleStand" >
        <mat-icon>store</mat-icon>
        <span>Puesto de Venta</span>
    </a>

    <a mat-button class="menu-button" >
        <mat-icon>group</mat-icon>
        <span>Acerca de Nosotros</span>
    </a>

    <mat-divider></mat-divider>
    <a mat-button class="menu-button" *ngIf="userLogued" (click)="logout()" >
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesion</span>
    </a>
    
