
    <div>
        <mat-toolbar>
            <button mat-icon-button (click)="inputSideNav.toggle()"  >
                <mat-icon>menu</mat-icon>
              </button>
            <span></span>
            <div class="example-spacer">
              <label >MI PUESTO DE VENTA</label>
            </div>
    
            <a mat-button routerLink="/auth/login" *ngIf="loginUser;else users"><mat-icon>person_outline</mat-icon> Iniciar sesion</a>
            <ng-template #users>
              <a mat-raised-button class="btn-raised " [matMenuTriggerFor]="menu" >
                <mat-icon>account_circle</mat-icon>
                 {{user.name}}
                 <mat-icon>expand_more</mat-icon>
              </a>
               
            </ng-template>
             <mat-menu #menu="matMenu" class="menu-without-scroll" >
              <button mat-menu-item class="btn-logout" (click)="logout() ">
                <a mat-raised-button color="accent" style="width: 100%; " ><mat-icon>logout</mat-icon> Cerrar sesion</a>
            </button>
              </mat-menu>
        </mat-toolbar>
            
    </div>
    