
    <div>
        <mat-toolbar>
            <button mat-icon-button (click)="inputSideNav.toggle()"  >
                <mat-icon>menu</mat-icon>
              </button>
            <span></span>
            <div class="example-spacer">
              <label for="">MI PUESTO DE VENTA</label>
            </div>
    
            <a mat-button routerLink="/login"  ><mat-icon>person_outline</mat-icon> Iniciar sesion</a>
            <ng-template #users>
              <a mat-raised-button class="btn-raised " [matMenuTriggerFor]="menu" ><mat-icon>account_circle</mat-icon> {{user.userName}}<mat-icon>expand_more</mat-icon></a>
               
            </ng-template>
             <mat-menu #menu="matMenu" class="menu-without-scroll">
                
              </mat-menu>
        </mat-toolbar>
            
    </div>
    