<div style="min-height: calc(100vh - 98px); ">
    <h2 style="text-align: center;">PUESTOS DE VENTA REGISTRADOS. </h2>
    <a mat-button class="btn-catalog"[routerLink]="['/seller/createSaleStand']"style="text-align:end">
        <mat-icon>add_business</mat-icon>
        <span>Nuevo Puesto de Venta </span>
    </a>
    <div style="display: flex;  flex-wrap: wrap; padding: 5px; "  >
        <app-sale style="margin-right: 25px; margin-bottom: 25px;" 
        *ngFor = "let s of sales" 
        [sales]="s"></app-sale>
    </div>
</div>
